<!DOCTYPE html>
<html lang="en">
<head>
        <title>PizzaH&V</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">

        <!-- Font -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
        <link rel="stylesheet" href="fonts/beyond_the_mountains-webfont.css" type="text/css"/>

        <!-- Stylesheets -->
        <link href="plugin-frameworks/bootstrap.min.css" rel="stylesheet">
        <link href="plugin-frameworks/swiper.css" rel="stylesheet">
        <link href="fonts/ionicons.css" rel="stylesheet">
        <link href="common/styles.css" rel="stylesheet">
</head>
<body>

<header>
        <div class="container">
                <a class="logo" href="#"><img src="images/Logo/Logo.png" alt="Logo"></a>

                <div class="right-area">
                        <a id="card-shop" class="plr-20 color-white btn-fill-primary" href="CartShop.html">
                                <img src="images/Logo/cart-plus-solid.svg" alt="CartShop">
                                <span class="item-increat count-item" data-count="0">0</span>
                        </a>
                        <h6><a class="plr-20 color-white btn-fill-primary" href="#">ORDER: +84 123 456 789</a></h6>
                </div><!-- right-area -->

                <a class="menu-nav-icon" data-menu="#main-menu" href="#"><i class="ion-navicon"></i></a>

                <ul class="main-menu font-mountainsre" id="main-menu">
                        <li><a href="index.html">Trang chủ</a></li>
                        <li><a href="02_about_us.html">Về chúng tôi</a></li>
                        <li><a href="03_menu.html">Menu</a></li>
                        <li><a href="04_blog.html">Blog</a></li>
                        <li><a href="05_contact.html">Liên lạc</a></li>
                </ul>

                <div class="clearfix"></div>
        </div><!-- container -->
</header>


<section class="bg-5 h-500x main-slider pos-relative">
        <div class="triangle-up pos-bottom"></div>
        <div class="container h-100">
                <div class="dplay-tbl">
                        <div class="dplay-tbl-cell center-text color-white pt-90">
                                <h2 class="mt-30 mb-15">Menu</h2>
                        </div><!-- dplay-tbl-cell -->
                </div><!-- dplay-tbl -->
        </div><!-- container -->
</section>


<section class="story-area left-text center-sm-text">
        <div class="container">
                <div class="heading"><h3>Pizza</h3></div>
                <div class="row">
                        <div class="col-lg-3 col-md-4  col-sm-6 ">
                                <div class="center-text mb-30 main-item">
                                        <div class="ïmg-200x mlr-auto pos-relative">
                                                <img src="images/Pizza/BBQ-Chicken-Pizza.jpg" class="menu-item" alt="">
                                        </div>
                                        <h5 class="">Pizza Chicken BBQ</h5>
                                        <h6 class="mt-5 color-primary">55.000 VNĐ</h6>
                                        <h5 class=" dplay-inl-block m-10">
                                                <a href="javascript:void(0);" class="btn-fill-primary secondary plr-25 btn-addToCart">
                                                        <b>Mua Ngay</b>
                                                </a>
                                        </h5>
                                </div><!--text-center-->
                        </div><!-- col-md-3 -->

                        <div class="col-lg-3 col-md-4  col-sm-6 ">
                                <div class="center-text mb-30 main-item">
                                        <div class="ïmg-200x mlr-auto pos-relative">
                                                <img src="images/Pizza/Chorizo-Pizza.jpg" class="menu-item" alt="">
                                        </div>
                                        <h5 class="">Pizza Chorizo</h5>
                                        <h6 class="mt-5 color-primary">65.000 VNĐ</h6>
                                        <h5 class=" dplay-inl-block m-10">
                                                <a href="javascript:void(0);" class="btn-fill-primary secondary plr-25 btn-addToCart">
                                                        <b>Mua Ngay</b>
                                                </a>
                                        </h5>
                                </div><!--text-center-->
                        </div><!-- col-md-3 -->

                        <div class="col-lg-3 col-md-4  col-sm-6 ">
                                <div class="center-text mb-30 main-item">
                                        <div class="ïmg-200x mlr-auto pos-relative">
                                                <img src="images/Pizza/Hawaii-Pizza.jpg" class="menu-item" alt="">
                                        </div>
                                        <h5 class="">Pizza Hawaii</h5>
                                        <h6 class="mt-5 color-primary">70.000 VNĐ</h6>
                                        <h5 class=" dplay-inl-block m-10">
                                                <a href="javascript:void(0);" class="btn-fill-primary secondary plr-25 btn-addToCart">
                                                        <b>Mua Ngay</b>
                                                </a>
                                        </h5>
                                </div><!--text-center-->
                        </div><!-- col-md-3 -->

                        <div class="col-lg-3 col-md-4  col-sm-6 ">
                                <div class="center-text mb-30 main-item">
                                        <div class="ïmg-200x mlr-auto pos-relative">
                                                <img src="images/Pizza/Mexican-Pizza.jpg" class="menu-item" alt="">
                                        </div>
                                        <h5 class="">Pizza Mexico</h5>
                                        <h6 class="mt-5 color-primary">105.000 VNĐ</h6>
                                        <h5 class=" dplay-inl-block m-10">
                                                <a href="javascript:void(0);" class="btn-fill-primary secondary plr-25 btn-addToCart">
                                                        <b>Mua Ngay</b>
                                                </a>
                                        </h5>
                                </div><!--text-center-->
                        </div><!-- col-md-3 -->
                </div><!-- row-->
        </div><!-- container -->
</section>

<section class="bg-lite-blue">
        <div class="container">
                <div class="row">

                        <div class="col-md-6">
                                <div class="sided-90x mb-30 main-item">
                                        <div class="s-left"><img class="br-3" src="images/Pizza/Veggie-Pizza.jpg" alt="Menu Image"></div><!--s-left-->
                                        <div class="s-right">
                                                <h5 class="mb-10">
                                                        <b>Pizza Margherita</b>
                                                        <a href="javascript:void(0);" class="float-right btn-fill-primary plr-5 btn-addToCart">
                                                                <b>105.000 VNĐ</b>
                                                        </a>
                                                </h5>
                                                <p class="pr-70">Maecenas fermentum tortor id fringilla molestie. In hac habitasse platea dictumst. </p>
                                        </div><!--s-right-->
                                </div><!-- sided-90x -->
                        </div><!-- food-menu -->

                        <div class="col-md-6">
                                <div class="sided-90x mb-30 main-item">
                                        <div class="s-left"><img class="br-3" src="images/Pizza/Smoke-Chicken-Pizza.jpg" alt="Menu Image"></div><!--s-left-->
                                        <div class="s-right">
                                                <h5 class="mb-10">
                                                        <b>Pizza Margherita</b>
                                                        <a href="javascript:void(0);" class="float-right btn-fill-primary plr-5 btn-addToCart">
                                                                <b>105.000 VNĐ</b>
                                                        </a>
                                                </h5>
                                                <p class="pr-70">Proin dictum viverra varius. Etiam vulputate libero dui, at pretium elit elementum quis. </p>
                                        </div><!--s-right-->
                                </div><!-- sided-90x -->
                        </div><!-- food-menu -->

                        <div class="col-md-6">
                                <div class="sided-90x mb-30 main-item">
                                        <div class="s-left"><img class="br-3" src="images/Pizza/Salami-Pizza.jpg" alt="Menu Image"></div><!--s-left-->
                                        <div class="s-right">
                                                <h5 class="mb-10">
                                                        <b>Pizza Margherita</b>
                                                        <a href="javascript:void(0);" class="float-right btn-fill-primary plr-5 btn-addToCart">
                                                                <b>105.000 VNĐ</b>
                                                        </a>
                                                </h5>
                                                <p class="pr-70">Maecenas fermentum tortor id fringilla molestie. In hac habitasse platea dictumst. </p>
                                        </div><!--s-right-->
                                </div><!-- sided-90x -->
                        </div><!-- food-menu -->

                        <div class="col-md-6">
                                <div class="sided-90x mb-30 main-item">
                                        <div class="s-left"><img class="br-3" src="images/Pizza/Meat-Lovers-Pizza.jpg" alt="Menu Image"></div><!--s-left-->
                                        <div class="s-right">
                                                <h5 class="mb-10">
                                                        <b>Pizza Margherita</b>
                                                        <a href="javascript:void(0);" class="float-right btn-fill-primary plr-5 btn-addToCart">
                                                                <b>105.000 VNĐ</b>
                                                        </a>
                                                </h5>
                                                <p class="pr-70">Proin dictum viverra varius. Etiam vulputate libero dui, at pretium elit elementum quis. </p>
                                        </div><!--s-right-->
                                </div><!-- sided-90x -->
                        </div><!-- food-menu -->

                        <div class="col-md-6">
                                <div class="sided-90x mb-30 main-item">
                                        <div class="s-left"><img class="br-3" src="images/menu-5-120x120.jpg" alt="Menu Image"></div><!--s-left-->
                                        <div class="s-right">
                                                <h5 class="mb-10">
                                                        <b>Pizza Margherita</b>
                                                        <a href="javascript:void(0);" class="float-right btn-fill-primary plr-5 btn-addToCart">
                                                                <b>105.000 VNĐ</b>
                                                        </a>
                                                </h5>
                                                <p class="pr-70">Maecenas fermentum tortor id fringilla molestie. In hac habitasse platea dictumst. </p>
                                        </div><!--s-right-->
                                </div><!-- sided-90x -->
                        </div><!-- food-menu -->

                        <div class="col-md-6">
                                <div class="sided-90x mb-30 main-item">
                                        <div class="s-left"><img class="br-3" src="images/menu-6-120x120.jpg" alt="Menu Image"></div><!--s-left-->
                                        <div class="s-right">
                                                <h5 class="mb-10">
                                                        <b>Pizza Margherita</b>
                                                        <a href="javascript:void(0);" class="float-right btn-fill-primary plr-5 btn-addToCart">
                                                                <b>105.000 VNĐ</b>
                                                        </a>
                                                </h5>
                                                <p class="pr-70">Proin dictum viverra varius. Etiam vulputate libero dui, at pretium elit elementum quis. </p>
                                        </div><!--s-right-->
                                </div><!-- sided-90x -->
                        </div><!-- food-menu -->

                        <div class="col-md-6">
                                <div class="sided-90x mb-30 main-item">
                                        <div class="s-left"><img class="br-3" src="images/menu-7-120x120.jpg"  alt="Menu Image"></div><!--s-left-->
                                        <div class="s-right">
                                                <h5 class="mb-10">
                                                        <b>Pizza Margherita</b>
                                                        <a href="javascript:void(0);" class="float-right btn-fill-primary plr-5 btn-addToCart">
                                                                <b>105.000 VNĐ</b>
                                                        </a>
                                                </h5>
                                                <p class="pr-70">Maecenas fermentum tortor id fringilla  molestie. In hac habitasse platea dictumst. </p>
                                        </div><!--s-right-->
                                </div><!-- sided-90x -->
                        </div><!-- food-menu -->

                        <div class="col-md-6">
                                <div class="sided-90x mb-30 main-item">
                                        <div class="s-left"><img class="br-3" src="images/menu-8-120x120.jpg" alt="Menu Image"></div><!--s-left-->
                                        <div class="s-right">
                                                <h5 class="mb-10">
                                                        <b>Pizza Margherita</b>
                                                        <a href="javascript:void(0);" class="float-right btn-fill-primary plr-5 btn-addToCart">
                                                                <b>105.000 VNĐ</b>
                                                        </a>
                                                </h5>
                                                <p class="pr-70">Proin dictum viverra varius. Etiam vulputate libero dui, at pretium elit elementum quis. </p>
                                        </div><!--s-right-->
                                </div><!-- sided-90x -->
                        </div><!-- food-menu -->
                </div><!-- row -->
        </div><!-- container -->
</section>


<section class="story-area bg-seller color-white pos-relative">
        <div class="pos-bottom triangle-up"></div>
        <div class="pos-top triangle-bottom"></div>
        <div class="container">
                <div class="heading mb-sm-10"><h3>Salad tươi, ngon, sạch</h3></div>
        </div><!-- container -->
</section>


<section>
        <div class="container">

                <div class="brder-t-light mt-sm-10 mb-60 mb-sm-40"></div>
                <!-- Pasta -->
                <div class="row">
                        <div class="col-md-6">
                                <div class="sided-90x mb-30 main-item">
                                        <div class="s-left"><img class="br-3" src="images/menu-5-120x120.jpg" alt="Menu Image"></div><!--s-left-->
                                        <div class="s-right">
                                                <h5 class="mb-10">
                                                        <b>Pizza Margherita</b>
                                                        <a href="javascript:void(0);" class="float-right btn-primaryc secondary plr-5 btn-addToCart">
                                                                <b>105.000 VNĐ</b>
                                                        </a>
                                                </h5>
                                                <p class="pr-70">Maecenas fermentum tortor id fringilla molestie. In hac habitasse platea dictumst. </p>
                                        </div><!--s-right-->
                                </div><!-- sided-90x -->
                        </div><!-- food-menu -->

                        <div class="col-md-6">
                                <div class="sided-90x mb-30 main-item">
                                        <div class="s-left"><img class="br-3" src="images/menu-6-120x120.jpg" alt="Menu Image"></div><!--s-left-->
                                        <div class="s-right">
                                                <h5 class="mb-10">
                                                        <b>Pizza Margherita</b>
                                                        <a href="javascript:void(0);" class="float-right btn-primaryc secondary plr-5 btn-addToCart">
                                                                <b>105.000 VNĐ</b>
                                                        </a>
                                                </h5>
                                                <p class="pr-70">Proin dictum viverra varius. Etiam vulputate libero dui, at pretium elit elementum quis. </p>
                                        </div><!--s-right-->
                                </div><!-- sided-90x -->
                        </div><!-- food-menu -->

                        <div class="col-md-6">
                                <div class="sided-90x mb-30 main-item">
                                        <div class="s-left"><img class="br-3" src="images/menu-7-120x120.jpg"  alt="Menu Image"></div><!--s-left-->
                                        <div class="s-right">
                                                <h5 class="mb-10">
                                                        <b>Pizza Margherita</b>
                                                        <a href="javascript:void(0);" class="float-right btn-primaryc secondary plr-5 btn-addToCart">
                                                                <b>105.000 VNĐ</b>
                                                        </a>
                                                </h5>
                                                <p class="pr-70">Maecenas fermentum tortor id fringilla  molestie. In hac habitasse platea dictumst. </p>
                                        </div><!--s-right-->
                                </div><!-- sided-90x -->
                        </div><!-- food-menu -->

                        <div class="col-md-6">
                                <div class="sided-90x mb-30main-item ">
                                        <div class="s-left"><img class="br-3" src="images/menu-8-120x120.jpg" alt="Menu Image"></div><!--s-left-->
                                        <div class="s-right">
                                                <h5 class="mb-10">
                                                        <b>Pizza Margherita</b>
                                                        <a href="javascript:void(0);" class="float-right btn-primaryc secondary plr-5 btn-addToCart">
                                                                <b>105.000 VNĐ</b>
                                                        </a>
                                                </h5>
                                                <p class="pr-70">Proin dictum viverra varius. Etiam vulputate libero dui, at pretium elit elementum quis. </p>
                                        </div><!--s-right-->
                                </div><!-- sided-90x -->
                        </div><!-- food-menu -->
                </div><!-- row -->

                <div class="brder-t-light mt-sm-10 mb-60 mb-sm-40"></div>
                <!-- Salad -->
                <div class="row">
                        <div class="col-md-6">
                                <div class="sided-90x mb-30 main-item">
                                        <div class="s-left"><img class="br-3" src="images/menu-5-120x120.jpg" alt="Menu Image"></div><!--s-left-->
                                        <div class="s-right">
                                                <h5 class="mb-10">
                                                        <b>Pizza Margherita</b>
                                                        <a href="javascript:void(0);" class="float-right btn-primaryc secondary plr-5 btn-addToCart">
                                                                <b>105.000 VNĐ</b>
                                                        </a>
                                                </h5>
                                                <p class="pr-70">Maecenas fermentum tortor id fringilla molestie. In hac habitasse platea dictumst. </p>
                                        </div><!--s-right-->
                                </div><!-- sided-90x -->
                        </div><!-- food-menu -->

                        <div class="col-md-6">
                                <div class="sided-90x mb-30 main-item">
                                        <div class="s-left"><img class="br-3" src="images/menu-6-120x120.jpg" alt="Menu Image"></div><!--s-left-->
                                        <div class="s-right">
                                                <h5 class="mb-10">
                                                        <b>Pizza Margherita</b>
                                                        <a href="javascript:void(0);" class="float-right btn-primaryc secondary plr-5 btn-addToCart">
                                                                <b>105.000 VNĐ</b>
                                                        </a>
                                                </h5>
                                                <p class="pr-70">Proin dictum viverra varius. Etiam vulputate libero dui, at pretium elit elementum quis. </p>
                                        </div><!--s-right-->
                                </div><!-- sided-90x -->
                        </div><!-- food-menu -->

                        <div class="col-md-6">
                                <div class="sided-90x mb-30 main-item">
                                        <div class="s-left"><img class="br-3" src="images/menu-7-120x120.jpg"  alt="Menu Image"></div><!--s-left-->
                                        <div class="s-right">
                                                <h5 class="mb-10">
                                                        <b>Pizza Margherita</b>
                                                        <a href="javascript:void(0);" class="float-right btn-primaryc secondary plr-5 btn-addToCart">
                                                                <b>105.000 VNĐ</b>
                                                        </a>
                                                </h5>
                                                <p class="pr-70">Maecenas fermentum tortor id fringilla  molestie. In hac habitasse platea dictumst. </p>
                                        </div><!--s-right-->
                                </div><!-- sided-90x -->
                        </div><!-- food-menu -->

                        <div class="col-md-6">
                                <div class="sided-90x mb-30 main-item">
                                        <div class="s-left"><img class="br-3" src="images/menu-8-120x120.jpg" alt="Menu Image"></div><!--s-left-->
                                        <div class="s-right">
                                                <h5 class="mb-10">
                                                        <b>Pizza Margherita</b>
                                                        <a href="javascript:void(0);" class="float-right btn-primaryc secondary plr-5 btn-addToCart">
                                                                <b>105.000 VNĐ</b>
                                                        </a>
                                                </h5>
                                                <p class="pr-70">Proin dictum viverra varius. Etiam vulputate libero dui, at pretium elit elementum quis. </p>
                                        </div><!--s-right-->
                                </div><!-- sided-90x -->
                        </div><!-- food-menu -->
                </div><!-- row -->

                <div class="brder-t-light mt-sm-10 mb-60 mb-sm-40"></div>
                <!-- Nuoc -->
                <div class="row">
                        <div class="col-md-6">
                                <div class="sided-90x mb-30 main-item">
                                        <div class="s-left"><img class="br-3" src="images/menu-5-120x120.jpg" alt="Menu Image"></div><!--s-left-->
                                        <div class="s-right">
                                                <h5 class="mb-10">
                                                        <b>Pizza Margherita</b>
                                                        <a href="javascript:void(0);" class="float-right btn-primaryc secondary plr-5 btn-addToCart">
                                                                <b>105.000 VNĐ</b>
                                                        </a>
                                                </h5>
                                                <p class="pr-70">Maecenas fermentum tortor id fringilla molestie. In hac habitasse platea dictumst. </p>
                                        </div><!--s-right-->
                                </div><!-- sided-90x -->
                        </div><!-- food-menu -->

                        <div class="col-md-6">
                                <div class="sided-90x mb-30 main-item">
                                        <div class="s-left"><img class="br-3" src="images/menu-6-120x120.jpg" alt="Menu Image"></div><!--s-left-->
                                        <div class="s-right">
                                                <h5 class="mb-10">
                                                        <b>Pizza Margherita</b>
                                                        <a href="javascript:void(0);" class="float-right btn-primaryc secondary plr-5 btn-addToCart">
                                                                <b>105.000 VNĐ</b>
                                                        </a>
                                                </h5>
                                                <p class="pr-70">Proin dictum viverra varius. Etiam vulputate libero dui, at pretium elit elementum quis. </p>
                                        </div><!--s-right-->
                                </div><!-- sided-90x -->
                        </div><!-- food-menu -->

                        <div class="col-md-6">
                                <div class="sided-90x mb-30 main-item">
                                        <div class="s-left"><img class="br-3" src="images/menu-7-120x120.jpg"  alt="Menu Image"></div><!--s-left-->
                                        <div class="s-right">
                                                <h5 class="mb-10">
                                                        <b>Pizza Margherita</b>
                                                        <a href="javascript:void(0);" class="float-right btn-primaryc secondary plr-5 btn-addToCart">
                                                                <b>105.000 VNĐ</b>
                                                        </a>
                                                </h5>
                                                <p class="pr-70">Maecenas fermentum tortor id fringilla  molestie. In hac habitasse platea dictumst. </p>
                                        </div><!--s-right-->
                                </div><!-- sided-90x -->
                        </div><!-- food-menu -->

                        <div class="col-md-6">
                                <div class="sided-90x mb-30 main-item">
                                        <div class="s-left"><img class="br-3" src="images/menu-8-120x120.jpg" alt="Menu Image"></div><!--s-left-->
                                        <div class="s-right">
                                                <h5 class="mb-10">
                                                        <b>Pizza Margherita</b>
                                                        <a href="javascript:void(0);" class="float-right btn-primaryc secondary plr-5 btn-addToCart">
                                                                <b>105.000 VNĐ</b>
                                                        </a>
                                                </h5>
                                                <p class="pr-70">Proin dictum viverra varius. Etiam vulputate libero dui, at pretium elit elementum quis. </p>
                                        </div><!--s-right-->
                                </div><!-- sided-90x -->
                        </div><!-- food-menu -->
                </div><!-- row -->
        </div><!-- container -->
</section>



<footer class="pb-50  pt-70 pos-relative">
        <div class="pos-top triangle-bottom"></div>
        <div class="container-fluid">

                <div class="pt-30">
                    <p class="underline-secondary"><b>Address:</b></p>
                    <p>236 Hoàng Quốc Việt, Hà Nội</p>
                </div>
    
                <div class="pt-30">
                    <p class="underline-secondary mb-10"><b>Phone:</b></p>
                    <a href="tel:+84 123 456 789">+84 123 456 789</a>
                </div>
    
                <div class="pt-30">
                    <p class="underline-secondary mb-10"><b>Email:</b></p>
                    <a href="mailto:huongktqs@gmail.com"> huongktqs@gmail.com</a>
                </div>
    
                <ul class="icon mt-30">
                    <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                    <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                    <li><a href="#"><i class="ion-social-linkedin"></i></a></li>
                </ul>
    
                <p class="color-light font-9 mt-50 mt-sm-30">
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This product is made with <i class="ion-heart" aria-hidden="true"></i> by HieuPham & VanVu
                </p>
        </div><!-- container -->
</footer>

<!-- SCIPTS -->
<script src="plugin-frameworks/jquery-3.2.1.min.js"></script>
<script src="plugin-frameworks/bootstrap.min.js"></script>
<script src="plugin-frameworks/swiper.js"></script>
<script src="common/scripts.js"></script>
<script src="common/myJS.js"></script>
<script type="text/javascript" src="common/jquery.waypoints.min.js"></script>

</body>
</html>