<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>PizzaH&V</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <link rel="stylesheet" href="fonts/beyond_the_mountains-webfont.css" type="text/css"/>

    <!-- Stylesheets -->
    <link href="plugin-frameworks/bootstrap.min.css" rel="stylesheet">
    <link href="plugin-frameworks/swiper.css" rel="stylesheet">
    <link href="fonts/ionicons.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="common/styleCartShop.css" />
    <link href="common/styles.css" rel="stylesheet">

</head>
<body>
    <header>
        <div class="container">
                <a class="logo" href="#"><img src="images/Logo/Logo.png" alt="Logo"></a>

                <div class="right-area">
                        <a class="plr-20 color-white btn-fill-primary" href="CartShop.html">
                            <img src="images/Logo/cart-plus-solid.svg" alt="CartShop">
                            <span class="item-increat count-item" data-count="0">0</span>
                        </a>
                        <h6><a class="plr-20 color-white btn-fill-primary" href="#">ORDER: +84 123 456 789</a></h6>
                </div> 

                <a class="menu-nav-icon" data-menu="#main-menu" href="#"><i class="ion-navicon"></i></a>

                <ul class="main-menu font-mountainsre" id="main-menu">
                        <li><a href="03_menu.html">Menu</a></li>
                        <li><a href="#">Thông tin người dùng</a></li>
                        <li><a href="LoginUser.html">Đăng xuất</a></li>
                </ul>

                <div class="clearfix"></div>
        </div>
    </header>
    
    <div class="banner">
    </div>
    
    <!-- cart shop -->
    <div class="container">
    <div class="row">
        <section class="section cart-shop">
            <div class="table-responsive" style="overflow-x:auto;">
                <table class="table product-table">
                    <thead>
                        <tr>
                            <th style="width: 15%;"></th>
                            <th style="width: 50%;">Sản Phẩm</th>
                            <th style="width: 10%;">Giá</th>
                            <th style="width: 10%;">Số Lượng</th>
                            <th style="width: 5%;">Tổng Cộng</th>
                            <th style="width: 5%;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th >
                                <img src="/images/Pizza/Meat-Lovers-Pizza.jpg"
                                    alt="" />
                            </th>
                            <th>
                                <h5>
                                    <strong>Piaza love</strong>
                                </h5>
                            </th>
                            <td>15 VND</td>
                            <td class="center-on-small-only">
                                <span class="qty">1 </span>
                                <div class="btn-group radio-group" data-toggle="buttons">
                                    <label class="btn btn-sm btn-primary
                                        btn-rounded waves-effect waves-light">
                                        <a>—</a>
                                    </label>
                                    <label class="btn btn-sm btn-primary
                                        btn-rounded waves-effect waves-light">
                                        <a>+</a>
                                    </label>
                                </div>
                            </td>
                            <td>15 VND</td>
                            <td>
                                <button type="button" class="btn btn-sm btn-primary waves-effect waves-light" data-toggle="tooltip" data-placement="top"
                                    title="" data-original-title="Remove item">
                                    X
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td colSpan="3"></td>
                            <td >
                                <h4>
                                    <strong>15 VND</strong>
                                </h4>
                            </td>
                            <td colSpan="3">
                                <button type="button" class="btn btn-primary waves-effect waves-light">Thanh toán
                                    <i class="fa fa-angle-right right"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>

    <!-- SCIPTS -->
    <script src="plugin-frameworks/jquery-3.2.1.min.js"></script>
    <script src="plugin-frameworks/bootstrap.min.js"></script>
    <script src="plugin-frameworks/swiper.js"></script>
    <script src="common/scripts.js"></script>

</body>
</html>