<!DOCTYPE HTML>
<html lang="en">
<head>
        <title>PizzaH&V</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">

        <!-- Font -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
        <link rel="stylesheet" href="fonts/beyond_the_mountains-webfont.css" type="text/css"/>

        <!-- Stylesheets -->
        <link href="plugin-frameworks/bootstrap.min.css" rel="stylesheet">
        <link href="plugin-frameworks/swiper.css" rel="stylesheet">
        <link href="fonts/ionicons.css" rel="stylesheet">
        <link href="common/styles.css" rel="stylesheet">

</head>
<body>

<header>
        <div class="container">
                <a class="logo" href="#"><img src="images/Logo/Logo.png" alt="Logo"></a>

                <div class="right-area">
                        <a id="card-shop" class="plr-20 color-white btn-fill-primary" href="CartShop.html">
                                <img src="images/Logo/cart-plus-solid.svg" alt="CartShop">
                                <span class="item-increat count-item" data-count="0">0</span>
                        </a>
                        <h6><a class="plr-20 color-white btn-fill-primary" href="#">Đặt ngay: +84 123 456 789</a></h6>
                </div><!-- right-area -->

                <a class="menu-nav-icon" data-menu="#main-menu" href="#"><i class="ion-navicon"></i></a>

                <ul class="main-menu font-mountainsre" id="main-menu">
                        <li><a href="index.html">Trang chủ</a></li>
                        <li><a href="02_about_us.html">Về chúng tôi</a></li>
                        <li><a href="03_menu.html">Menu</a></li>
                        <li><a href="04_blog.html">Diễn đàn</a></li>
                        <li><a href="05_contact.html">Liên lạc</a></li>
                </ul>

                <div class="clearfix"></div>
        </div><!-- container -->
</header>


<section class="story-area bg-seller color-white pos-relative">
        <div class="pos-bottom triangle-up"></div>
    <div class="pos-top triangle-bottom"></div>
    <div class="container">
        <div class="heading">
            <img class="heading-img" src="images/heading_logo.png" alt="">
            <h2>Bán chạy nhất</h2>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-4  col-sm-6 ">
                <div class="center-text mb-30 main-item">
                    <div class="ïmg-200x mlr-auto pos-relative">
                        <img src="./images/seller-2-200x200.png" alt="">
                    </div>
                    <h5 class="mt-20">Pizza Margherita</h5>
                    <h6 class="mt-20">
                        <a href="javascript:void(0);" class="btn-brdr-primary plr-5 btn-addToCart">
                                <b>105.000 VNĐ</b>
                        </a>
                </h6>
                </div><!--text-center-->
            </div><!-- col-md-3 -->

            <div class="col-lg-3 col-md-4  col-sm-6 ">
                <div class="center-text mb-30 main-item">
                    <div class="ïmg-200x mlr-auto pos-relative">
                        <img src="./images/seller-2-200x200.png" alt="">
                    </div>
                    <h5 class="mt-20">Pizza Margherita</h5>
                    <h6 class="mt-20">
                        <a href="javascript:void(0);" class="btn-brdr-primary plr-5 btn-addToCart">
                                <b>105.000 VNĐ</b>
                        </a>
                </h6>
                </div><!--text-center-->
            </div><!-- col-md-3 -->

            <div class="col-lg-3 col-md-4  col-sm-6 ">
                <div class="center-text mb-30 main-item">
                    <div class="ïmg-200x mlr-auto pos-relative">
                        <img src="./images/seller-2-200x200.png" alt="">
                    </div>
                    <h5 class="mt-20">Pizza Margherita</h5>
                    <h6 class="mt-20">
                        <a href="javascript:void(0);" class="btn-brdr-primary plr-5 btn-addToCart">
                                <b>105.000 VNĐ</b>
                        </a>
                </h6>
                </div><!--text-center-->
            </div><!-- col-md-3 -->

            <div class="col-lg-3 col-md-4  col-sm-6 ">
                <div class="center-text mb-30 main-item">
                    <div class="ïmg-200x mlr-auto pos-relative">
                        <img src="./images/seller-2-200x200.png" alt="">
                    </div>
                    <h5 class="mt-20">Pizza Margherita</h5>
                    <h6 class="mt-20">
                        <a href="javascript:void(0);" class="btn-brdr-primary plr-5 btn-addToCart">
                                <b>105.000 VNĐ</b>
                        </a>
                </h6>
                </div><!--text-center-->
            </div><!-- col-md-3 -->

            <div class="col-lg-3 col-md-4  col-sm-6 ">
                <div class="center-text mb-30 main-item">
                    <div class="ïmg-200x mlr-auto pos-relative">
                        <img src="./images/seller-2-200x200.png" alt="">
                    </div>
                    <h5 class="mt-20">Pizza Margherita</h5>
                    <h6 class="mt-20">
                        <a href="javascript:void(0);" class="btn-brdr-primary plr-5 btn-addToCart">
                                <b>105.000 VNĐ</b>
                        </a>
                </h6>
                </div><!--text-center-->
            </div><!-- col-md-3 -->

            <div class="col-lg-3 col-md-4  col-sm-6 ">
                <div class="center-text mb-30 main-item">
                    <div class="ïmg-200x mlr-auto pos-relative">
                        <img src="./images/seller-2-200x200.png" alt="">
                    </div>
                    <h5 class="mt-20">Pizza Margherita</h5>
                    <h6 class="mt-20">
                        <a href="javascript:void(0);" class="btn-brdr-primary plr-5 btn-addToCart">
                                <b>105.000 VNĐ</b>
                        </a>
                </h6>
                </div><!--text-center-->
            </div><!-- col-md-3 -->

            <div class="col-lg-3 col-md-4  col-sm-6 ">
                <div class="center-text mb-30 main-item">
                    <div class="ïmg-200x mlr-auto pos-relative">
                        <img src="./images/seller-2-200x200.png" alt="">
                    </div>
                    <h5 class="mt-20">Pizza Margherita</h5>
                    <h6 class="mt-20">
                        <a href="javascript:void(0);" class="btn-brdr-primary plr-5 btn-addToCart">
                                <b>105.000 VNĐ</b>
                        </a>
                </h6>
                </div><!--text-center-->
            </div><!-- col-md-3 -->

            <div class="col-lg-3 col-md-4  col-sm-6 ">
                <div class="center-text mb-30 main-item">
                    <div class="ïmg-200x mlr-auto pos-relative">
                        <img src="./images/seller-2-200x200.png" alt="">
                    </div>
                    <h5 class="mt-20">Pizza Margherita</h5>
                    <h6 class="mt-20">
                        <a href="javascript:void(0);" class="btn-brdr-primary plr-5 btn-addToCart">
                                <b>105.000 VNĐ</b>
                        </a>
                </h6>
                </div><!--text-center-->
            </div><!-- col-md-3 -->
            
        </div><!-- row -->
        </div><!-- container -->
</section>


<section>
        <div class="container">
                <div class="heading">
                        <img class="heading-img" src="images/heading_logo.png" alt="">
                        <h2>Chúng tôi có gì</h2>
                </div>

                <div class="row">
                        <div class="col-sm-12">
                                <ul class="selecton brdr-b-primary mb-70">
                                        <li><a class="active" href="#" data-select="*"><b>TẤT CẢ</b></a></li>
                                        <li><a href="#" data-select="pizza"><b>PIZZA</b></a></li>
                                        <li><a href="#" data-select="pasta"><b>PASTA</b></a></li>
                                        <li><a href="#" data-select="salads"><b>ĐỒ UỐNG</b></a></li>
                                        <li><a href="#" data-select="deserts"><b>SƯỜNG BBQ</b></a></li>
                                        <li><a href="#" data-select="deserts"><b>SALAD</b></a></li>
                                </ul>
                        </div><!--col-sm-12-->
                </div><!--row-->

                <div class="row">
                        <div class="col-md-6 food-menu pizza">
                                <div class="sided-90x mb-30 ">
                                        <div class="s-left"><img class="br-3" src="images/menu-1-120x120.jpg" alt="Menu Image"></div><!--s-left-->
                                        <div class="s-right">
                                                <h5 class="mb-10"><b>Pizza Margherita</b><b class="color-primary float-right">$12.00</b></h5>
                                                <p class="pr-70">Maecenas fermentum tortor id fringilla molestie. In hac habitasse platea dictumst. </p>
                                        </div><!--s-right-->
                                </div><!-- sided-90x -->
                        </div><!-- food-menu -->

                        <div class="col-md-6 food-menu pizza pasta">
                                <div class="sided-90x mb-30 ">
                                        <div class="s-left"><img class="br-3" src="images/menu-2-120x120.jpg" alt="Menu Image"></div><!--s-left-->
                                        <div class="s-right">
                                                <h5 class="mb-10"><b>Italian pasta</b><b class="color-primary float-right">$20.00</b></h5>
                                                <p class="pr-70">Proin dictum viverra varius. Etiam vulputate libero dui, at pretium elit elementum quis. </p>
                                        </div><!--s-right-->
                                </div><!-- sided-90x -->
                        </div><!-- food-menu -->

                        <div class="col-md-6 food-menu pasta">
                                <div class="sided-90x mb-30 ">
                                        <div class="s-left"><img class="br-3" src="images/menu-3-120x120.jpg" alt="Menu Image"></div><!--s-left-->
                                        <div class="s-right">
                                                <h5 class="mb-10"><b>Pizza Prosciuto</b><b class="color-primary float-right">$12.00</b></h5>
                                                <p class="pr-70">Maecenas fermentum tortor id fringilla molestie. In hac habitasse platea dictumst. </p>
                                        </div><!--s-right-->
                                </div><!-- sided-90x -->
                        </div><!-- food-menu -->

                        <div class="col-md-6 food-menu salads">
                                <div class="sided-90x mb-30">
                                        <div class="s-left"><img class="br-3" src="images/menu-4-120x120.jpg" alt="Menu Image"></div><!--s-left-->
                                        <div class="s-right">
                                                <h5 class="mb-10"><b>Broschettas</b><b class="color-primary float-right">$6.00</b></h5>
                                                <p class="pr-70">Proin dictum viverra varius. Etiam vulputate libero dui, at pretium elit elementum quis. </p>
                                        </div><!--s-right-->
                                </div><!-- sided-90x -->
                        </div><!-- food-menu -->
                        <div class="col-md-6 food-menu deserts">
                                <div class="sided-90x mb-30">
                                        <div class="s-left"><img class="br-3" src="images/menu-5-120x120.jpg" alt="Menu Image"></div><!--s-left-->
                                        <div class="s-right">
                                                <h5 class="mb-10"><b>Pizza Margherita</b><b class="color-primary float-right">$12.00</b></h5>
                                                <p class="pr-70">Maecenas fermentum tortor id fringilla molestie. In hac habitasse platea dictumst. </p>
                                        </div><!--s-right-->
                                </div><!-- sided-90x -->
                        </div><!-- food-menu -->

                        <div class="col-md-6 food-menu pizza">
                                <div class="sided-90x mb-30 ">
                                        <div class="s-left"><img class="br-3" src="images/menu-6-120x120.jpg" alt="Menu Image"></div><!--s-left-->
                                        <div class="s-right">
                                                <h5 class="mb-10"><b>Italian pasta</b><b class="color-primary float-right">$20.00</b></h5>
                                                <p class="pr-70">Proin dictum viverra varius. Etiam vulputate libero dui, at pretium elit elementum quis. </p>
                                        </div><!--s-right-->
                                </div><!-- sided-90x -->
                        </div><!-- food-menu -->

                        <div class="col-md-6 food-menu deserts">
                                <div class="sided-90x mb-30">
                                        <div class="s-left"><img class="br-3" src="images/menu-7-120x120.jpg"  alt="Menu Image"></div><!--s-left-->
                                        <div class="s-right">
                                                <h5 class="mb-10"><b>Pizza Prosciuto</b><b class="color-primary float-right">$12.00</b></h5>
                                                <p class="pr-70">Maecenas fermentum tortor id fringilla  molestie. In hac habitasse platea dictumst. </p>
                                        </div><!--s-right-->
                                </div><!-- sided-90x -->
                        </div><!-- food-menu -->

                        <div class="col-md-6 food-menu pasta">
                                <div class="sided-90x mb-30 ">
                                        <div class="s-left"><img class="br-3" src="images/menu-8-120x120.jpg" alt="Menu Image"></div><!--s-left-->
                                        <div class="s-right">
                                                <h5 class="mb-10"><b>Broschettas</b><b class="color-primary float-right">$6.00</b></h5>
                                                <p class="pr-70">Proin dictum viverra varius. Etiam vulputate libero dui, at pretium elit elementum quis. </p>
                                        </div><!--s-right-->
                                </div><!-- sided-90x -->
                        </div><!-- food-menu -->
                </div><!-- row -->
        </div><!-- container -->
</section>


<footer class="pb-50  pt-70 pos-relative">
        <div class="pos-top triangle-bottom"></div>
        <div class="container-fluid">

                <div class="pt-30">
                    <p class="underline-secondary"><b>Address:</b></p>
                    <p>236 Hoàng Quốc Việt, Hà Nội</p>
                </div>
    
                <div class="pt-30">
                    <p class="underline-secondary mb-10"><b>Phone:</b></p>
                    <a href="tel:+84 123 456 789">+84 123 456 789</a>
                </div>
    
                <div class="pt-30">
                    <p class="underline-secondary mb-10"><b>Email:</b></p>
                    <a href="mailto:huongktqs@gmail.com"> huongktqs@gmail.com</a>
                </div>
    
                <ul class="icon mt-30">
                    <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                    <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                    <li><a href="#"><i class="ion-social-linkedin"></i></a></li>
                </ul>
    
                <p class="color-light font-9 mt-50 mt-sm-30">
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This product is made with <i class="ion-heart" aria-hidden="true"></i> by HieuPham & VanVu
                </p>
        </div><!-- container -->
</footer>

<!-- SCIPTS -->
<script src="plugin-frameworks/jquery-3.2.1.min.js"></script>
<script src="plugin-frameworks/bootstrap.min.js"></script>
<script src="plugin-frameworks/swiper.js"></script>
<script src="common/scripts.js"></script>
<script src="common/myJS.js"></script>
<script type="text/javascript" src="common/jquery.waypoints.min.js"></script>

</body>
</html>