<!DOCTYPE HTML>
<html lang="en">
<head>
        <title>PizzaH&V</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">

        <!-- Font -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
        <link rel="stylesheet" href="fonts/beyond_the_mountains-webfont.css" type="text/css"/>

        <!-- Stylesheets -->
        <link href="plugin-frameworks/bootstrap.min.css" rel="stylesheet">
        <link href="plugin-frameworks/swiper.css" rel="stylesheet">
        <link href="fonts/ionicons.css" rel="stylesheet">
        <link href="common/styles.css" rel="stylesheet">
        <link href="common/styleLogin.css" rel="stylesheet">

</head>
<body>


    <div class="container">
        <div class="row block user">
            <h3>Khách hàng</h3>
        </div>
    </div>

    <div class="backMenu">
        <a href="03_menu.html">
            <img src="/images/ImgIcon/chevron-left-solid.svg" />
            <p>Menu</p>
        </a>
    </div>
    
    <div class="container">
        <div class="row block">
            <div class="new-customer">
                <p><span>Khách hàng mới?</span></p>
    
                <div class="content">
                    <h6>Tạo tài khoản để được ...</h6>
    
                    <ul>
                        <li>Lưu yêu thích của bạn để đặt hàng nhanh hơn.</li>
                        <li>Tthanh toán với các địa chỉ giao hàng đã lưu và thông tin thanh toán.</li>
                        <li>Nhận ưu đãi độc quyền, ngay trong hộp thư đến của bạn.</li>
                    </ul>
    
                    <button class="btn-login">
                        <a href="SignupUser.html">
                            Tạo mới tài khoản
                        </a>
                    </button>
                </div>
            </div>
        </div>
    
        <div class="row block">
            <div class="sign-in">
                <p><span>Đăng nhập</span></p>
    
                <form>
                    <h6>Tên đăng nhập</h6>
                    <input type="text" name="username" placeholder="Nhập tên đăng nhập" />
    
                    <h6>Mật khẩu</h6>
                    <input type="password" name="password" placeholder="Nhập mật khẩu" />
                </form>
    
                <div>
                    <a href="">Quên mật khẩu ?</a>
                </div>
    
                <button class="btn-login">Đăng nhập</button>
            </div>
        </div>
    
        <div class="row block">
            <div class="sign-in-with">
                <p><span>Đăng nhập bằng</span></p>
    
                <div class="button">
                    <button class="facebook"><a href="https://facebook.com" target="_blank">Facebook</a></button>
    
                    <button class="google"><a href="https://gmail.com" target="_blank">Google+</a></button>
                </div>
            </div>
        </div>
    </div>
    
    

<!-- SCIPTS -->
<script src="plugin-frameworks/jquery-3.2.1.min.js"></script>
<script src="plugin-frameworks/bootstrap.min.js"></script>
<script src="plugin-frameworks/swiper.js"></script>
<script src="common/scripts.js"></script>
<script src="common/myJS.js"></script>
<script type="text/javascript" src="common/jquery.waypoints.min.js"></script>


</body>
</html>