
@{
    Layout = null;
}
@model PizzaShop.Areas.Admin.Models.LoginModel

<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>PizzaH&V</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/fonts/beyond_the_mountains-webfont.css" type="text/css" />

    <link href="~/Content/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template--> 
    <link href="~/Content/admin/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Stylesheets -->
    <link href="~/Content/plugin-frameworks/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/plugin-frameworks/swiper.css" rel="stylesheet">
    <link href="~/Content/fonts/ionicons.css" rel="stylesheet">
    <link href="~/Content/common/styles.css" rel="stylesheet">
    <link href="~/Content/common/styleLogin.css" rel="stylesheet">

</head>
<body>


    <div class="container">
        <div class="row block user">
            <h3>Admin</h3>
        </div>
    </div>

    <div class="container">
        <div class="row block">
            <div class="sign-in">
                @using (Html.BeginForm("Login", "Login", FormMethod.Post))
                {
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" });
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @autofocus = "autofocus", @placeholder = "Nhập tên đăng nhập" })

                    </div>

                    <div class="form-group">
                        @Html.PasswordFor(model => model.PassWord, new { @class = "form-control", @placeholder = "Nhập mật khẩu" })
                    </div>

                    <div class="form-group">
                        <div class="custom-control custom-checkbox small">
                                @Html.CheckBoxFor(model => model.RememberMe ,new {@class="custom-control custom-checkbox small" })Remember Me
                           
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary btn-user btn-block">
                        Đăng nhập
                    </button>
                }


                <hr>
                <div class="text-center">
                    <a class="small" href="forgot-password.html">Forgot Password?</a>
                </div>

            </div>
        </div>
    </div>



    <!-- scripts -->
    <script src="~/Content/plugin-frameworks/jquery-3.2.1.min.js"></script>
    <script src="~/Content/plugin-frameworks/bootstrap.min.js"></script>
    <script src="~/Content/plugin-frameworks/swiper.js"></script>
    <script src="~/Content/common/scripts.js"></script>
    <script src="~/Content/common/myJS.js"></script>
    <script type="text/javascript" src="~/Content/common/jquery.waypoints.min.js"></script>

    <!-- Bootstrap core JavaScript-->
    <script src="~/Content/admin/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Content/admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Content/admin/js/sb-admin-2.min.js"></script>


</body>
</html>