
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="bg-7 h-500x main-slider pos-relative">
    <div class="triangle-up pos-bottom"></div>
    <div class="container h-100">
        <div class="dplay-tbl">
            <div class="dplay-tbl-cell center-text color-white pt-90">
                <h3 class="mt-30 mb-15">Diễn đàn của chúng tôi</h3>
                <h5><b>Nơi cảm xúc được chia sẻ</b></h5>
            </div><!-- dplay-tbl-cell -->
        </div><!-- dplay-tbl -->
    </div><!-- container -->
</section>


<section class="story-area left-text center-sm-text">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-lg-8">

                <div class="mb-50 mb-sm-30">
                    <div class="pos-relative mb-30 pt-15">
                        <div class="font-8 abs-tl p-20 bg-primary color-white">
                            <h4><b>01</b></h4>
                            <h4><b>01</b></h4>
                            <h4><b>20</b></h4>
                            <div class="brdr-style-1"></div>
                        </div>
                        <img src="~/Content/images/blog-1-1000x400.jpg" alt="">
                    </div>
                    <h4 style="margin-left: 70px"><a href="#"><b>TIẾT LỘ TÍNH CÁCH BẢN THÂN QUA CHIẾC BÁNH PIZZA</b></a></h4>
                    <h6 class="mt-10 bg-lite-blue dplay-inl-block">
                        <a class="plr-20 mtb-10" href="#"><b>Từ Admin</b></a>
                        <a class="plr-20 mtb-10 brder-lr-lite-black-2" href="#"><b>Từ bí quyết</b></a>
                        <a class="plr-20 mtb-10" href="#"><b>3 bình luận</b></a>
                    </h6>
                    <p class="mt-30">
                        Việc bạn cầm lấy một miếng bánh pizza và cho vào miệng nhấm nháp dường như chẳng có gì đáng chú ý.
                        Tuy nhiên, một chuyên gia về hành vi hé lộ, hành động này thực tế có thể tiết lộ rất nhiều điều về kiểu tính cách của bạn.
                    </p>
                </div><!--mb-30-->

                <div class="mb-50 mb-sm-30">
                    <div class="pos-relative mb-30 pt-15">
                        <div class="font-8 abs-tl p-20 bg-primary color-white">
                            <h4><b>01</b></h4>
                            <h4><b>01</b></h4>
                            <h4><b>20</b></h4>
                            <div class="brdr-style-1"></div>
                        </div>
                        <img src="~/Content/images/blog-2-1000x400.jpg" alt="">
                    </div>
                    <h4 style="margin-left: 70px"><a href="#"><b>CÙNG BẮT TAY VÀO LÀM MÓN PIZZA 'NHÂN NHỒI' ĐƯỢC YÊU THÍCH</b></a></h4>
                    <h6 class="mt-10 bg-lite-blue dplay-inl-block">
                        <a class="plr-20 mtb-10" href="#"><b>Từ Admin</b></a>
                        <a class="plr-20 mtb-10 brder-lr-lite-black-2" href="#"><b>Từ bí quyết</b></a>
                        <a class="plr-20 mtb-10" href="#"><b>13 bình luận</b></a>
                    </h6>
                    <p class="mt-30">
                        Pizza "nhân nhồi" mang tên Chicago Pizza hấp dẫn nhiều thực khách với hương vị độc đáo làm ra từ nguyên liệu hảo hạng.
                        Bánh pizza Chicago nhân nhồi với kích thước khổng lồ, phần phô mai ú ụ chỉ nhìn qua là đã muốn chén ngay rồi.
                        Mặc dù mới xuất hiện trong một khoảng thời gian ngắn nhưng bánh pizza nhân nhồi đã có một  lượng fan không hề nhỏ.
                        Vậy thì hôm nay mời bạn cùng Zpizza tham khảo công thức làm bánh pizza nhân nhồi vạn người mê này nhé!
                    </p>
                </div><!--mb-30-->

                <div class="mb-50 mb-sm-30">
                    <div class="pos-relative mb-30 pt-15">
                        <div class="font-8 abs-tl p-20 bg-primary color-white">
                            <h4><b>01</b></h4>
                            <h4><b>01</b></h4>
                            <h4><b>20</b></h4>
                            <div class="brdr-style-1"></div>
                        </div>
                        <img src="~/Content/images/blog-3-1000x400.jpg" alt="">
                    </div>
                    <h4 style="margin-left: 70px"><a href="#"><b>CÁCH LÀM SỐT CÀ CHUA PIZZA CỰC NGON</b></a></h4>
                    <h6 class="mt-10 bg-lite-blue dplay-inl-block">
                        <a class="plr-20 mtb-10" href="#"><b>Từ Admin</b></a>
                        <a class="plr-20 mtb-10 brder-lr-lite-black-2" href="#"><b>Từ bí quyết</b></a>
                        <a class="plr-20 mtb-10" href="#"><b>23 bình luận</b></a>
                    </h6>
                    <p class="mt-30">
                        Pizza là loại bánh mà mình nghĩ bất kể vào mùa nào, trời nào ăn cũng được.
                        Tất nhiên là cảm giác cầm cái bánh Pizza giòn rụm nóng hổi trong tiết trời mùa đông lạnh vẫn là tuyệt nhất.
                        Tuy nhiên mùa hè vào những ngày trời mưa rào hay áp thấp nhiệt đới mà cả nhà quay quần quanh một “mâm” pizza cũng rất tuyệt nhỉ.
                    </p>
                </div><!--mb-30-->

                <ul class="font-14 mb-30">
                    <li class="color-primary"><a href="#"><b> 01.</b></a></li>
                    <li><a href="#"><b> 02.</b></a></li>
                    <li><a href="#"><b> 03.</b></a></li>
                </ul>
            </div><!--col-md-8-->

            <div class="col-md-5 col-lg-4">
                <div class="mx-w-400x mlr-auto">
                    <form class="mb-50 mb-sm-30 mt-sm-30 placeholder-1 form-style-1 pos-relative">
                        <input class="pr-50" type="text" placeholder="Tìm kiếm">
                        <button class="abs-tbr plr-20" type="submit"><i class="ion-android-search"></i></button>
                    </form>

                    <div class="mb-50 mb-sm-30 pos-relative oflow-hidden">
                        <div class="bg-trinagle-primary"></div>
                        <img src="~/Content/images/sidebar-1-400x600.jpg" alt="">
                        <div class="abs-bl font-18 color-white p-30 z-1">
                            <h4 class="lh-1">30%</h4>
                            <h4 class="lh-1">off</h4>
                            <h6 class="font-5 mt-10">Combo Pack <b>Pizza + Salad</b></h6>
                        </div>
                    </div><!--mb-50-->

                    <div class="mb-50 mb-sm-30">
                        <h5 class="left-text"><b>Nhận những thông báo mới nhất</b></h5>
                        <form class="placeholder-1 form-style-1 pos-relative">
                            <input class="mtb-20" type="text" placeholder="Email của bạn">
                            <button class="w-100 btn-primaryc" type="submit">Đăng kí ngay</button>
                        </form>
                    </div><!--mb-50-->

                    <div class="mb-50 mb-sm-30">
                        <h5 class="mb-30 left-text"><b>Những bài viết gần đây</b></h5>
                        <div class="sided-90x mb-30 ">
                            <div class="s-left"><img class="br-3" src="~/Content/images/ImgRelate/Img2.jpg" alt="Menu Image"></div>
                            <div class="s-right left-text">
                                <h6 class="font-11 mtb-5"><b>GỢI Ý TOPPING PIZZA CHO ĐÊM PIZZA</b></h6>
                                <h6 class="color-primary"><b>22 tháng 1, 2020</b></h6>
                            </div><!--s-right-->
                        </div><!-- sided-90x -->

                        <div class="sided-90x mb-30 ">
                            <div class="s-left"><img class="br-3" src="~/Content/images/ImgRelate/Img3.jpg" alt="Menu Image"></div>
                            <div class="s-right left-text">
                                <h6 class="color-semi-black">NHỮNG LOẠI TOPPING PIZZA NGON NGẤT NGÂY</h6>
                                <h6 class="color-primary"><b>22 tháng 1, 2020</b></h6>
                            </div><!--s-right-->
                        </div><!-- sided-90x -->

                        <div class="sided-90x mb-30 ">
                            <div class="s-left"><img class="br-3" src="~/Content/images/ImgRelate/Img1.jpg" alt="Menu Image"></div>
                            <div class="s-right left-text">
                                <h6 class="color-semi-black">
                                    CUỘC SỐNG LUÔN LUÔN BẬN RỘN NÊN CỨ ĂN PIZZA THỎA THÍCH THÔI
                                </h6>
                                <h6 class="color-primary"><b>22 tháng 1, 2020</b></h6>
                            </div><!--s-right-->
                        </div><!-- sided-90x -->
                    </div><!--mb-50-->

                </div><!--mx-w-500x-->
            </div><!--col-md-4-->
        </div><!-- row -->
    </div><!-- container -->
</section>