
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="bg-6 h-500x main-slider pos-relative">
    <div class="triangle-up pos-bottom"></div>
    <div class="container h-100">
        <div class="dplay-tbl">
            <div class="dplay-tbl-cell center-text color-white pt-90">
                <h3 class="mt-30 mb-15">Liên lạc</h3>
            </div><!-- dplay-tbl-cell -->
        </div><!-- dplay-tbl -->
    </div><!-- container -->
</section>


<section class="story-area left-text center-sm-text">
    <div class="container">
        <div class="heading">
            <img class="heading-img" src="images/heading_logo.png" alt="">
            <h2>Say hello</h2>
            <h5 class="mt-10 mb-30">Say hello, gửi những cảm nhận của bạn về chúng tôi</h5>
        </div>

        <form class="form-style-1 placeholder-1">
            <div class="row">
                <div class="col-md-6"> <input class="mb-20" type="text" placeholder="Tên">  </div>
                <div class="col-md-6"> <input class="mb-20" type="text" placeholder="Email">  </div>
                <div class="col-md-12"><input class="mb-20" type="text" placeholder="Số điện thoại">  </div>
                <div class="col-md-12">
                    <textarea class="h-200x ptb-20" placeholder="Ý kiến của bạn"></textarea>
                </div>
            </div><!-- row -->
            <h6 class="center-text mtb-30"><a href="#" class="btn-primaryc plr-25"><b>Gửi</b></a></h6>
        </form>
    </div><!-- container -->
</section>


<div class="map-area h-500x mb--10">
    <div id="map" style="height:60vh; display: flex; justify-content:center; align-items:center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.651046246785!2d105.78412491495345!3d21.046644085988657!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab3240fb4b67%3A0x66e281bac2a85bee!2zMjM2IEhvw6BuZyBRdeG7kWMgVmnhu4d0LCBD4buVIE5odeG6vywgVOG7qyBMacOqbSwgSMOgIE7hu5lpLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1585716843256!5m2!1svi!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
</div><!-- map-area -->
