
@using Model.Entities;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<Model.Entities.tblMonAn>

@{
    Model1 db = new Model1();
    var mon = db.tblMonAns.First();
}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="dialog">
        <div class="modal-content main-item" id="modal-chitietmon">
            @Html.Partial("XemChiTietMon", mon);
        </div>
    </div>
</div>

<section class="story-area bg-seller color-white pos-relative">
    <div class="pos-bottom triangle-up"></div>
    <div class="pos-top triangle-bottom"></div>
    <div class="container">
        <div class="heading">
            <img class="heading-img" src="~/Content/images/heading_logo.png" alt="">
            <h2>Chúng tôi có gì</h2>
        </div>
    </div>
</section>


<section>
    <div class="container">


        <div class="row">
            <div class="col-sm-12">
                <ul class="selecton brdr-b-primary mb-70">
                    <li><a onclick="laydsmon(1);"><b>PIZZA</b></a></li>
                    <li><a onclick="laydsmon(2);"><b>PASTA</b></a></li>
                    <li><a onclick="laydsmon(3);"><b>SALAD</b></a></li>
                    <li><a onclick="laydsmon(4);"><b>ĐỒ UỐNG</b></a></li>
                </ul>
            </div><!--col-sm-12-->
        </div><!--row-->

        <div class="row" id="danhsachmon">
            @Html.Partial("XemMonTrongDSMon", Model);
        </div><!-- row -->
    </div><!-- container -->
</section>


<script type="text/javascript">
    function laydsmon(maLoaiMon) {
        $.ajax({
            url: '/Home/XemMonTrongDSMon',
            method: 'GET',
            data: { maLoaiMon: maLoaiMon },
            success: function (data) {
                $('#danhsachmon').html(data);
            }
        });
    }

    function layIdMon(id) {
        $.ajax({
            url: '/Home/XemChiTietMon',
            method: 'GET',
            data: { id: id },
            success: function (data) {
                $('#modal-chitietmon').html(data);
            }
        });
    }
</script>